* {
	margin:0;
	padding:0;
}

/*~~~~~~FLEXBOX HOME STYLE~~~~~*/

.home {
	display: flex;
	flex-flow:column nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content:center;
	margin:-10px;
	line-height:0;
	width:99.5vw;
}

/*~~~~~~~~~~HEADER STYLE~~~~~~~~~~~*/
.home .header {
	height:30em;
	background:url("../../media/img/background-position2.jpg") no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
	background-position:center;
	margin-bottom:0;
}

.home .header .container {
	display:flex;
	flex-flow:column nowrap;
	align-items:center;
	justify-content:space-around;
	height:30em;
	text-align:center;
}

.home .header h1 {
	flex:2;
	font-size:6em;
	line-height:120px;
	color:white;
	text-transform:uppercase;
	position:relative;
	top:25px;
	/*animation*/
	animation-name:blurinbig;
	animation-duration:3s;
	animation-timing-function:ease;
	animation-fill-mode:forwards;
}

.home .header p {
	flex:1;
	font-size:1em;
	letter-spacing:9px;
	font-weight:11500;
	text-transform:uppercase;
	color:white;
	/*animation*/
	animation-name:blurinsmall;
	animation-duration:2s;
	animation-fill-mode:forwards;
}

.home .header .btn-music {
	margin-top:0px;
	margin-bottom:25px;
	position:relative;
	bottom:25px;
}

.home .header .btn-book {
	position:relative;
	bottom:15px;
}

/*~~~~~~~animation~~~~~~~~~~*/
@keyframes blurinbig {
	0% {
		font-size:5em;
		opacity:0;
	}
	100% {
		opacity:1;
	}
}
@keyframes blurinsmall {
	0% {
		font-size:0.1em;
		opacity:0;
	}
	100% {
		opacity:1;
	}
}


/*~~~~~~~~#media queries for desktop~~~~~~~~~~*/
@media (max-width: 480px) {
	.home .header h1 {
		font-size:4.5em;
		line-height:90px;
	}
}

@media (min-width:1200px) {
	.home .header {
		height:50em;
	}

	.home .header .container {
		position:relative;
		top:90px;
	}

	.home .header h1 {
		font-size:9em;
		margin-bottom:50px;
	}

	.home .header p {
		font-size:1.5em;
		margin-bottom:80px;
	}

	.home .header .btn-music {
		top:50px;
	}

	.home .header .btn-book {
		top:50px;
	}

	/*~~~animation~~~*/
	@keyframes blurinbig {
	0% {
		font-size:1em;
		opacity:0;
	}
	100% {
		opacity:1;
	}
	}
}

/*~~~~~~~~~~MAIN STYLE~~~~~~~~~~~*/

.home .main {
	background-color:black;
	text-align:center;
	position:relative;
	color:white;
	display:flex;
	flex-flow:column nowrap;
	align-items:center;
	justify-content:space-around;
	height:250px;
	margin-bottom:0px;
}

.home .main h1 {
	font-size:2.5em;
}

.home .main p {
	margin-bottom:25px;
}

.home .main audio {
	width:60%;

}

@media(min-width:1200px) {
	.home .main h1 {
		font-size:4em;
	}
}

/*~~~~JUMBOTRON STYLE ~~~~~*/

.home .jumbotron {
	display:flex;
	flex-flow:column wrap;
	align-items:center;
	justify-content:space-between;
	text-align:center;
	color:white;
	/*background:url(../../media/img/monkeeslive3.jpg) center center fixed;*/
	background-size:cover;
	background-color:silver;
	height:13em;
	margin-bottom:0px;
}

.home .jumbotron .container {
	position:relative;
	bottom:30px;
}

.home .jumbotron h2 {
	margin-bottom:15px;
}

.home .jumbotron p {
	margin-bottom:25px;
}


@media (min-width:1200px) {
	.home .jumbotron {
		height:19em;
		text-align:right;
	}

	.home .jumbotron .container {
		bottom:10px;
	}
}


/*------------------------------------------------------------------------
--------------------------------------------------------------------------
--------------------------------------------------------------------------*/

/*BOOK PAGE STYLE*/
.book .page {
	width:100%;
	height:100%;
	background:url(../../media/img/book-background2.jpeg) center center;
	background-size:cover;
	left:0;
	top:0;
	z-index:-1;
	padding-top:100px;

}

/*book intro style*/

.book .book-intro {
	text-align:center;
	color:white;
	font-family:Dosis;

}

.book .book-intro #discount {
	font-size:15px;
	color:red;
	letter-spacing:4px;
}

.book .book-intro h1 {
	font-size:3.5em;
}

.book .book-intro p {
	font-size:1.5em;
}

/*book-form style*/

.book #container {
	width:650px;
	margin: 10px auto 150px auto;
	border:1px solid black;
	border-radius:5px;
	padding:25px;
	position:relative;
	top:0px;
	font-family: Roboto;
	opacity: 0.5;
}

.book #container:hover {
	opacity:1.0;
}


.book fieldset {
	padding:15px;
}

.book .names {
	margin-bottom:10px;
}

.book .contacts {
	margin-bottom:20px;
}

.book .event1 {
	margin-bottom:20px;
}

.book .event2 {
	margin-bottom:20px;
}

.book .radio {
	color:white;
} 

.book #visa {
	position:relative;
	bottom:15.5px;
	left:25px;
}

.book #americanexpress {
	position:relative;
	bottom:15.5px;
	left:25px;
}

.book #submit {
	position: relative;
	left:220px;
	top:20px;
	width:100px;
}

.alert {
	font-size:10px;
	color:red;
}


/*~~~~~BOOKCONFIRM STYLE~~~~*/
.bookconfirm {
	background:url(../../media/img/book-background2.jpeg) center center;
	height:100vh;
}
.bookconfirm .header {
	margin:50px auto;
	font-size:4em;
	font-family:Dosis;
	text-align:center;
	background-color:silver;
	height:150px;
}

.bookconfirm .bookbody {
	width:90%;
	margin:30px auto 150px auto;
	text-align:center;
	font-family:Dosis;
	color:white;
}



/*media queries for desktop*/

@media (min-width:1200px) {
	.bookconfirm .header {
		font-size:15em;
		margin:0 auto;
		height:auto;
	}

	.bookconfirm .bookbody {
		font-size:auto;
		width:50%;
		margin:100px auto;
	}

	.bookconfirm .bookbody span {
		color:#323232;
	}
}

@media (min-width:690px) and (max-width:1199px) {
	.bookconfirm .header {
		font-size:8em;
		height:200px;
	}

	.bookconfirm .bookbody {
		width:70%;
	}

	.bookconfirm .bookbody span {
		color:#323232;
	}
}


/*---------------------------------------------------------------------------
-----------------------------------------------------------------------------
-----------------------------------------------------------------------------*/


/*~~~~MUSIC STYLE ~~~~~~~*/

.music .header h1 {
	text-align:center;
	font-family:Dosis;
	font-size:9em;
	margin-top:40px;
}

.music .words {
	background-color:#585B5C;
	height:250px;
	display:flex;
	flex-flow:row wrap;
	align-items: center ;
	justify-content: space-around;
	color:white;
	font-family:Dosis;
	font-weight:500;
	font-size:1.2em;
	text-align:center;
	border-radius:10px;
	margin-top:10px;
}

.music .words .about {
	flex:2;
	font-size:1em;
}

.music .words .quote {
	flex:1;
}

.music .words .sound {
	flex:2;
}

.music .words .about p {
	width:60%;
	margin-right:auto;
	margin-left:auto;
}

.music .words .quote #quote1 {
	font-size:2.5em;
	font-family:Roboto;
	color:#2C3539;
	float:left;
	margin-top:2px;
}

.music .words .quote #quote2 {
	font-size:2.5em;
	font-family:Roboto;
	color:#2C3539;
	float:right;
}

.music .words .quote p {
	width:60%
	margin-left:auto;
	margin-right:auto;
	margin-top:15px;
	color:#382F2B;
	font-family:Roboto;
	font-size:1.6em;
}

.music .words .quote #Davy {
	font-size:1.4em;
	color:white;
	margin-top:0;
}

.music .words .sound p {
	width:60%;
	margin-right:auto;
	margin-left:auto;
}

.music .tab-content #video {
	background-color:silver;
	text-align:center;
	font-family:Dosis;
	color:white;
	text-decoration:underline;
}

.music .tab-content #video h1 {
	font-size:4em;
}

.music .tab-content #video p {
	font-size:1.9em;
	margin-bottom:20px;
}

.music .tab-content #video iframe {
	margin:20px auto;
}

.music .tab-content #video .ytplug {
	background:url(../../media/img/videoyt.png) center;
	background-size: cover;
	height:150px;
	width:150px;
	border-radius: 100%;
	margin-left:auto;
	margin-right:auto;
	
}

.music .tab-content #photos {
	text-align:center;
	font-family:Dosis;
}

.music .tab-content #photos h1 {
	font-size:4em;
}

.music .tab-content #photos p {
	margin-bottom:20px;
	font-size:2em;
	text-decoration:underline;
}

.music .tab-content #photos .photogrid {
	width:90%;
	margin-left: auto;
	margin-right:auto;
}

.music .tab-content #photos .photogrid img {
	height:250px;
	width:290px;
	border-radius:15px;
	margin:20px;
}

/*.music .tab-content #photos .photogrid td {
	margin:20px;
}

.music .bigbar {
	background-color:black;
	color:white;
}

.music .bigbar li {
	color:;
}*/

/*.carousel-inner>.item {
	position: relative;
    display: none;
    -webkit-transition: 0.3s ease-in-out left;
    -moz-transition: 0.3s ease-in-out left;
    -o-transition: 0.3s ease-in-out left;
    transition: 0.3s ease-in-out left;
    height:650px;
}

.music #carousel {
	margin-left:auto;
	margin-right:auto;
}

.music p {
	text-align:center;
	font-size:20px;
	border:1px solid black;
	border-radius:20px;
	margin: 50px auto;
	width:70%;
}

.music {
	height:500px;
}

iTunesSearch {
	position:relative;
	left:200px;
	top:200px;
	/*border:2px solid red;*/
}*/



/*---------------------------------------------------------------------------
-----------------------------------------------------------------------------
-----------------------------------------------------------------------------*/

/*REACHOUT STYLE*/

.reachout {
	background-color:red;
	height:100%;
	width:100vw;
}

.reachout .connect {
	background-color:black;
	height:320px;
	border-bottom:5px solid #5296C7;
}

.reachout .connect h1 {
	font-size:2.5em;
	text-align:center;
	font-family:Dosis;
	color:white;
	text-decoration:underline;
	margin-top:50px;
}

.reachout .connect .links {
	display:flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	position:relative;
	top:50px;
}

.reachout .connect .links #facebook {
	background:url("../../media/img/big-facebook.png") center;
	background-size:cover;
	border-radius:100%;
	height:60px;
	width:60px;
}


.reachout .connect .links #twitter {
	background:url("../../media/img/big-twitter.png") center;
	background-size:cover;
	border-radius: 100%;
	height:60px;
	width:60px;
}

.reachout .connect .links #google {
	background:url("../../media/img/big-google.png") center;
	background-size:cover;
	border-radius: 100%;
	height:60px;
	width:60px;
}

.reachout .connect .links #insta {
	background:url("../../media/img/big-insta.png") center;
	background-size:cover;
	border-radius: 100%;
	height:60px;
	width:60px;
}

.reachout .connect .links #youtube {
	background:url("../../media/img/big-youtube2.png") center;
	background-size:cover;
	border-radius: 100%;
	height:60px;
	width:60px;
}

.reachhout .plugs {
	height:300px;
}

.reachout .plugs .container {
	display:flex;
	flex-flow:row wrap;
	align-items: center;
	justify-content: space-around;
	text-align:center;
	color:#545454;
	font-family:Dosis;
	font-size:1em;
}

.reachout .plugs .bookbox {
	height:400px;
	/*width:100px;*/
	border:10px solid black;
	flex:1;
	margin:20px auto;
	display:flex;
	flex-flow:column nowrap;
	justify-content: space-around;
	align-items:center;
	background:url("../../media/img/bookbox.jpg") center;
	background-size:cover;
}

.reachout .plugs .mailbox {
	height:400px;
	border:10px solid black;
	flex:1;
	margin:20px auto;
	display:flex;
	flex-flow:column nowrap;
	justify-content: space-around;
	align-items:center;
	background:url("../../media/img/mailbox.jpg") center;
	background-size:cover;
	color:black;
}

.reachout .plugs .bookbox p {
	background-color:black;
	color:white;
}

.reachout .plugs .bookbox h1 {
	color:white;
}

.reachout .plugs .mailbox p {
	background-color:white;
}

.reachout .newsletter {
	height:385px;
	background-color:black;
	display:flex;
	flex-flow:row wrap;
	justify-content: space-around;
	align-items: center;
	color:white;
	border-bottom:5px solid #5296C7;
	border-top:5px solid #5296C7;
	text-align: center;
}

.reachout .newsletter .head h1 {
	font-size:1.3em;
	text-decoration: underline;
}

.reachout .newsletter .head p {
	font-size:1em;
}

.reachout .newsletter .subform {
	font-size:1.2em;
	margin-top:-50px;
	
}

.reachout .newsletter #subin {
	position:relative;
	top:10px;
	left:0px;
}

.reachout .newsletter input {
	border-radius:2px;
}

.reachout .direct {
	height:250px;
	display:flex;
	flex-flow:row wrap;
	align-items: flex-end;
	justify-content: space-around;
	font-family:Dosis;
	font-size:1em;
	color:white;
	font-weight:700;
	margin-bottom:20px;
}

.reachout .direct #skype p {
	position: relative;
	/*left:40px;*/
	right:5px;
	background-color:#3289C7;
}

.reachout .direct #phone p {
	background-color:#3289C7;
}

.reachout .direct #email p {
	position:relative;
	/*left:50px;*/
	background-color:#3289C7;
}

.reachout .direct #phone #phonecirc {
	height:40px;
	width:40px;
	border-radius:100%;
	background:url(../../media/img/phoneblue.png) center;
	background-size:contain;
	margin-bottom:20px;
}

.reachout .direct #skype #skypecirc {
	height:40px;
	width:40px;
	border-radius:100%;
	background:url(../../media/img/skypeblue.png) center;
	background-size:contain;
	margin-bottom:20px;
	position:relative;
	left:10px;
}

.reachout .direct #email #emailcirc {
	height:40px;
	width:40px;
	border-radius:100%;
	background:url(../../media/img/atblue.png) center;
	background-size:contain;
	margin-bottom:20px;
	position: relative;
	left:50px;
}


/*media queries*/

@media (min-width:1165px) {
	.reachout .connect {
		height:420px;
	}

	.reachout .connect .links {
		justify-content: space-between;
	}

	.reachout .connect h1 {
		font-size:4em;
	}

	.reachout .connect .links #facebook {
		height:180px;
		width:180px;
	}

	.reachout .connect .links #twitter {
		height:180px;
		width:180px;
	}

	.reachout .connect .links #google {
		height:180px;
		width:180px;
	}

	.reachout .connect .links #insta {
		height:180px;
		width:180px;
	}

	.reachout .connect .links #youtube {
		height:180px;
		width:180px;
	}

	.reachout .plugs .container {
		flex-flow:row wrap;
		justify-content: space-around;
		font-size:2em;
	}

	.reachout .plugs .bookbox {
		margin:50px 25px 50px 0;
	}

	.reachout .plugs .mailbox {
		margin:50px 0 50px 25px;
	}

	.reachout .newsletter {
		height:185px;
	}

	.reachout .newsletter .head h1 {
		font-size:2.5em;
		text-decoration:none;
	}

	.reachout .newsletter .head p {
		font-size:1.5em;
	}

	.reachout .newsletter .subform {
		font-size:1.5em;
		margin-top:30px;
	}

	.reachout .direct {
		height:150px;
		flex-flow:row wrap;
		font-size:1.2em;
		margin-bottom:20px;
	}

	.reachout .direct #phone #phonecirc {
		height:80px;
		width:80px;
	}

	.reachout .direct #skype #skypecirc {
		height:80px;
		width:80px;
		left:50px;
	}

	.reachout .direct #email #emailcirc {
		height:80px;
		width:80px;
		left:80px;
	}

	.reachout .direct #skype p {
		left:40px;
	}

	.reachout .direct #email p {
		left:50px;
	}
}

@media (min-width:400px) and (max-width:749px) {
	
	.reachout .newsletter #emailin {
		position:relative;
		left:50px;
	}
	.reachout .newsletter #subin {
		top:40px;

	}

	.reachout .direct {
		height:150px;
	}

	.reachout .direct #phone #phonecirc {
		height:60px;
		width:60px;
	}

	.reachout .direct #skype #skypecirc {
		height:60px;
		width:60px;
	}

	.reachout .direct #email #emailcirc {
		height:60px;
		width:60px;
	}
}

@media (min-width:750px) and (max-width: 1164px) {
	.reachout .connect .links #facebook {
		height:110px;
		width:110px;
	}

	.reachout .connect .links #twitter {
		height:110px;
		width:110px;
	}

	.reachout .connect .links #google {
		height:110px;
		width:110px;
	}

	.reachout .connect .links #insta {
		height:110px;
		width:110px;
	}

	.reachout .connect .links #youtube {
		height:110px;
		width:110px;
	}

	.reachout .plugs .container {
		font-size:1.4em;
	}

	.reachout .plugs .bookbox {
		margin:50px 25px 50px 0;
	}

	.reachout .plugs .mailbox {
		margin:50px 0 50px 25px;
	}

	.reachout .newsletter {
		height:285px;
	}

	.reachout .newsletter .head h1 {
		font-size:2em;
	}

	.reachout .newsletter .head p {
		font-size:1.5em;
	}

	.reachout .direct {
		height:200px;
	}

	.reachout .direct #phone #phonecirc {
		height:80px;
		width:80px;
	}

	.reachout .direct #skype #skypecirc {
		height:80px;
		width:80px;
	}

	.reachout .direct #email #emailcirc {
		height:80px;
		width:80px;
	}	

	.reachout .direct #skype p {
		left:10px;
	}
}

/*---------------------------------------------------------------------------
-----------------------------------------------------------------------------
-----------------------------------------------------------------------------*/

/*~~~~DIRECTIVES~~~~*/


/* NAVIGATIONBAR DIRECTIVE STYLE */
.navbar-default {
	background-color:white;
	opacity: 0.5;
	border-color: rgba(34, 34, 34, 0.05);
	font-family:Dosis;
	color:#222222;
}

.navbar-default .navbar-header .navbar-brand {
	font-weight:700;
	text-transform:uppercase;
	font-size:1.8em;
}

.navbar-default .nav >li >a {
	font-weight:500;
	font-size:1.2em;
}

.navbar-default .nav >li >a:last-child {
	padding-right:20px;
}

/*BLACKFOOTER DIRECTIVE STYLE*/	

.footer {
	font-size:1px;
	color:white;
	background-color:black;
	height:40vh;	
}

.footer .container {
	display:flex;
	flex-flow:row wrap;
	align-items: center;
	justify-content: center;
}

.footer .community {
	flex:1;
	margin-top:-25px;
}

.footer .buymusic {
	flex:1;
	margin-top:30px;
}

.footer .subscribe {
	flex:1;
	margin-top:35px;
}

.footer .itunes {
	margin-right:-45px;
	text-align:center;
}

.footer p {
	text-decoration:underline;
	margin-bottom:25px;
	font-family:Dosis;
	font-size:25px;
}

.footer a {
	color:white;
}

/*media queries for desktop*/
/*@media (min-width:480px) and (max-width:1149px) {
	.footer {
		height:30vh;
	}
}*/

@media (min-width:1050px) {
	.footer {
		font-size:14px;
		height:18vh;
	}

	.footer .community {
		margin-top:10px;
	}
}

/*SUBSCRIBE*/
subscribe {
	color:black;
	text-align:center;
}

subscribe label {
	font-size:25px;
	margin-bottom:20px;
	margin-top:30px;
	margin-right:-15px;
	font-family:Dosis;
}

subscribe input {
	border-radius:5px;
	margin-bottom:20px;
	margin-top:20px;
	margin-left:-25px;
	width:250px;
	height:30px;
}

.modal-body {
	width:50%;
	margin-left:auto;
	margin-right:auto;
}

.redbtn {
	width:100px;
	position:relative;
	left:75px;
}

