* {
	margin:0;
	padding:0;
}

/*~~~~~~FLEXBOX HOME STYLE~~~~~*/

.home {
	display: flex;
	flex-flow:column nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content:center;
	margin:-10px;
	line-height:0;
}

/*~~~~~~~~~~HEADER STYLE~~~~~~~~~~~*/
.home .header {
	height:30em;
	background:url("../../media/img/background-position2.jpg") no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
	background-position:center;
	margin-bottom:0;
}

.home .header .container {
	display:flex;
	flex-flow:column nowrap;
	align-items:center;
	justify-content:space-around;
	height:30em;
	text-align:center;
}

.home .header h1 {
	flex:2;
	font-size:6em;
	line-height:120px;
	color:white;
	text-transform:uppercase;
	position:relative;
	top:25px;
	/*animation*/
	animation-name:blurinbig;
	animation-duration:3s;
	animation-timing-function:ease;
	animation-fill-mode:forwards;
}

.home .header p {
	flex:1;
	font-size:1em;
	letter-spacing:9px;
	font-weight:11500;
	text-transform:uppercase;
	color:white;
	/*animation*/
	animation-name:blurinsmall;
	animation-duration:2s;
	animation-fill-mode:forwards;
}

.home .header .btn-music {
	margin-top:0px;
	margin-bottom:25px;
	position:relative;
	bottom:25px;
}

.home .header .btn-book {
	position:relative;
	bottom:15px;
}

/*~~~~~~~animation~~~~~~~~~~*/
@keyframes blurinbig {
	0% {
		font-size:5em;
		opacity:0;
	}
	100% {
		opacity:1;
	}
}
@keyframes blurinsmall {
	0% {
		font-size:0.1em;
		opacity:0;
	}
	100% {
		opacity:1;
	}
}


/*~~~~~~~~#media queries for desktop~~~~~~~~~~*/
@media (max-width: 480px) {
	.home .header h1 {
		font-size:4.5em;
		line-height:90px;
	}
}

@media (min-width:1200px) {
	.home .header {
		height:50em;
	}

	.home .header .container {
		position:relative;
		top:90px;
	}

	.home .header h1 {
		font-size:9em;
		margin-bottom:50px;
	}

	.home .header p {
		font-size:1.5em;
		margin-bottom:80px;
	}

	.home .header .btn-music {
		top:50px;
	}

	.home .header .btn-book {
		top:50px;
	}

	/*~~~animation~~~*/
	@keyframes blurinbig {
	0% {
		font-size:1em;
		opacity:0;
	}
	100% {
		opacity:1;
	}
	}
}

/*~~~~~~~~~~MAIN STYLE~~~~~~~~~~~*/

.home .main {
	background-color:black;
	text-align:center;
	position:relative;
	color:white;
	display:flex;
	flex-flow:column nowrap;
	align-items:center;
	justify-content:space-around;
	height:250px;
	margin-bottom:0px;
}

.home .main h1 {
	font-size:2.5em;
}

.home .main p {
	margin-bottom:25px;
}

.home .main audio {
	width:60%;

}

@media(min-width:1200px) {
	.home .main h1 {
		font-size:4em;
	}
}

/*~~~~JUMBOTRON STYLE ~~~~~*/

.home .jumbotron {
	display:flex;
	flex-flow:column wrap;
	align-items:center;
	justify-content:space-between;
	text-align:center;
	color:white;
	background:url(../../media/img/jumbotron-home.jpeg) center center fixed;
	background-size:cover;
	height:13em;
	margin-bottom:0px;
}

.home .jumbotron .container {
	position:relative;
	bottom:30px;
}

.home .jumbotron h2 {
	margin-bottom:15px;
}

.home .jumbotron p {
	margin-bottom:25px;
}


@media (min-width:1200px) {
	.home .jumbotron {
		height:19em;
		text-align:right;
	}

	.home .jumbotron .container {
		bottom:10px;
	}
}


/*------------------------------------------------------------------------
--------------------------------------------------------------------------
--------------------------------------------------------------------------*/

/*~~~~MUSIC STYLE ~~~~~~~*/

.carousel-inner>.item {
	position: relative;
    display: none;
    -webkit-transition: 0.3s ease-in-out left;
    -moz-transition: 0.3s ease-in-out left;
    -o-transition: 0.3s ease-in-out left;
    transition: 0.3s ease-in-out left;
    height:650px;
}

.music #carousel {
	margin-left:auto;
	margin-right:auto;
}

.music p {
	text-align:center;
	font-size:20px;
	border:1px solid black;
	border-radius:20px;
	margin: 50px auto;
	width:70%;
}

.music {
	height:500px;
}

iTunesSearch {
	position:relative;
	left:200px;
	border:2px solid red;
}




/*BOOK PAGE STYLE*/
.book .page {
	width:100%;
	height:100%;
	background:url(../../media/img/book-background2.jpeg) center center;
	background-size:cover;
	left:0;
	top:0;
	z-index:-1;
	padding-top:100px;

}

/*book intro style*/

.book .book-intro {
	text-align:center;
	color:white;
	font-family:Dosis;

}

.book .book-intro #discount {
	font-size:15px;
	color:red;
	letter-spacing:4px;
}

.book .book-intro h1 {
	font-size:3.5em;
}

.book .book-intro p {
	font-size:1.5em;
}

/*book-form style*/

.book #container {
	width:650px;
	margin: 10px auto 150px auto;
	border:1px solid black;
	border-radius:5px;
	padding:25px;
	position:relative;
	top:0px;
	font-family: Roboto;
	opacity: 0.5;
}

.book #container:hover {
	opacity:1.0;
}


.book fieldset {
	padding:15px;
}

.book .names {
	margin-bottom:10px;
}

.book .contacts {
	margin-bottom:20px;
}

.book .event1 {
	margin-bottom:20px;
}

.book .event2 {
	margin-bottom:20px;
}

.book .radio {
	color:white;
} 

.book #visa {
	position:relative;
	bottom:15.5px;
	left:25px;
}

.book #americanexpress {
	position:relative;
	bottom:15.5px;
	left:25px;
}

.book #submit {
	position: relative;
	left:220px;
	top:20px;
	width:100px;
}

.alert {
	font-size:10px;
	color:red;
}

/*---------------------------------------------------------------------------
-----------------------------------------------------------------------------
-----------------------------------------------------------------------------*/

/*MUSIC STYLE*/

.music #header {
	text-align:center;
	font-family:Dosis;
	font-size:9em;
	margin-top:40px;
}

/*---------------------------------------------------------------------------
-----------------------------------------------------------------------------
-----------------------------------------------------------------------------*/

/*~~~~DIRECTIVES~~~~*/


/* NAVIGATIONBAR DIRECTIVE STYLE */
.navbar-default {
	background-color:white;
	opacity: 0.5;
	border-color: rgba(34, 34, 34, 0.05);
	font-family:Dosis;
	color:#222222;
}

.navbar-default .navbar-header .navbar-brand {
	font-weight:700;
	text-transform:uppercase;
	font-size:1.8em;
}

.navbar-default .nav >li >a {
	font-weight:500;
	font-size:1.2em;
}

.navbar-default .nav >li >a:last-child {
	padding-right:20px;
}

/*BLACKFOOTER DIRECTIVE STYLE*/	

.footer {
	font-size:14px;
	color:white;
	background-color:black;
	height:7em;	
}

.footer .container {
	display:flex;
	flex-flow:row nowrap;
	align-items: center;
	justify-content: center;
}

.footer .community {
	flex:1;
}

.footer .buymusic {
	flex:1;
}
