/*------------------------------------------------------------------------
--------------------------------------------------------------------------
--------------------------------------------------------------------------*/

/*Index: 
	1. Home
	2. Music 
		2.1 Image
	3. Gigs
		3.1 Event
	4. Contact
	5. Book
	6. Confirms
	7. Directives
		7.1 Navigation Bar
		7.2 Footer 
		7.3 Subscribe Modal
		7.4 Maillist Modal
		7.5 iTunes Search*/

/*------------------------------------------------------------------------
--------------------------------------------------------------------------
--------------------------------------------------------------------------*/

/*1. HOME*/

.home {
	display: flex;
	flex-flow:column nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content:center;
	margin:-10px;
	line-height:0;
	width:99.51vw;
}

/*~HEADER STYLE~*/
.home .header {
	height:30em;
	background:url("../../media/img/background-position2.jpg") no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
	background-position:center;
	margin-bottom:0;
}

.home .header .container {
	display:flex;
	flex-flow:column nowrap;
	align-items:center;
	justify-content:space-around;
	height:30em;
	text-align:center;
}

.home .header h1 {
	flex:2;
	font-size:6em;
	line-height:120px;
	color:white;
	text-transform:uppercase;
	position:relative;
	top:25px;
	/*animation*/
	animation-name:blurinbig;
	animation-duration:3s;
	animation-timing-function:ease;
	animation-fill-mode:forwards;
}

.home .header p {
	flex:1;
	font-size:1em;
	letter-spacing:9px;
	font-weight:11500;
	text-transform:uppercase;
	color:white;
	/*animation*/
	animation-name:blurinsmall;
	animation-duration:2s;
	animation-fill-mode:forwards;
}

.home .header .btn-music {
	margin-top:0px;
	margin-bottom:25px;
	position:relative;
	bottom:25px;
}

.home .header .btn-book {
	position:relative;
	bottom:15px;
}

/*~ANIMATION~*/
@keyframes blurinbig {
	0% {
		font-size:5em;
		opacity:0;
	}
	100% {
		opacity:1;
	}
}
@keyframes blurinsmall {
	0% {
		font-size:0.1em;
		opacity:0;
	}
	100% {
		opacity:1;
	}
}

/*~MAIN STYLE~*/

.home .main {
	background-color:black;
	text-align:center;
	position:relative;
	color:white;
	display:flex;
	flex-flow:column nowrap;
	align-items:center;
	justify-content:space-around;
	height:250px;
	margin-bottom:0px;
}

.home .main h1 {
	font-size:2.5em;
}

.home .main p {
	margin-bottom:25px;
}

.home .main audio {
	width:60%;
}

/*~JUMBOTRON STYLE~*/

.home .jumbotron {
	display:flex;
	flex-flow:column wrap;
	align-items:center;
	justify-content:space-between;
	text-align:center;
	color:white;
	background:url(../../media/img/cwater.jpg) center;
	background-size:cover;
	background-color:silver;
	height:13em;
	margin-bottom:0px;
}

.home .jumbotron .container {
	position:relative;
	bottom:30px;
}

.home .jumbotron h2 {
	margin-bottom:15px;
}

.home .jumbotron p {
	margin-bottom:25px;
}

/*------------------------------------------------------------------------
--------------------------------------------------------------------------
--------------------------------------------------------------------------*/

/*2. MUSIC*/

/*~MUSIC TOP STYLE~*/
.music {
	max-width:100%;
}

/*~HEADER STYLE~*/

.music .top {
	background:url("../../media/img/mike.jpg") center;
	background-size:cover;
	height:98vh;
	margin-top:-20px;
	opacity:0.85;
	
}

.music .top:hover {
	opacity:1;
}

.music .header h1 {
	text-align:center;
	font-family:Roboto;
	text-transform:uppercase;
	font-weight:500;
	font-size:5em;
	position:relative;
	top:90px;
	margin-bottom:360px;
	color:white;
}

.music .words {
	width:99%;
	display:none;
	flex-flow:row wrap;
	align-items: center ;
	justify-content: space-around;
	color:white;
	font-family:Roboto;
	font-weight:700;
	font-size:1.2em;
	text-align:center;
	margin:10px auto;
}

.music .words .about {
	flex:2;
	font-size:1em;
}

.music .words .sound {
	flex:2;
}

.music .words .about p {
	width:50%;
	margin-right:auto;
	margin-left:auto;
}

.music .words .sound p {
	width:50%;
	margin:4px auto
}

.music .words .sound span {
	color:#382F2B;
}

.music .top .book {
	margin:5px auto;
	display:block;
	width:130px;
	margin-top:20px;
}

/*~TAB NAV STYLE~*/

.music .bigbar {
	margin-top:0px;
	margin-bottom:0;
	font-family:Dosis;
	font-weight:bold;
}

.music .bigbar .nav-tabs > li {
	zoom:1.8;
}

.music .bigbar .nav-tabs a {
	color:black
}

.music .bigbar .tab-pane {
	margin-top:0px;
}

/*~TAB CONTENT STYLE~*/

.music .tab-content {
	text-align:center;
	font-family:Dosis;
}

.music .tab-content h1 {
	font-size:4em;
	color:black;
	animation-name:blurinbig;
	animation-duration: 2s;
	animation-timing-function: ease;
	animation-fill-mode: forwards;
}

.music .tab-content p {
	font-size:1.5em;
	font-weight:400;
	margin-bottom:20px;
}

/*~#BUYMUSIC STYLE~*/

#buymusic {
	border-top:2px solid silver;
}

#buymusic .itunes-table table {
	width:90%;
	height:auto;
	margin:10px auto;
}

#buymusic .itunes-table th {
	font-size:2.5em;
	text-align:center;
}

#buymusic .itunes-table tbody {
	position: relative;
	top:50px;
}

#buymusic .itunes-table td {
	border-bottom:1px solid red;
	font-size:1.3em;
}

#buymusic .itunes-table .space {
	height:20px;
}

#buymusic .itunes-search-table h1 {
	margin-top:20px;
}

/*~#VIDEO STYLE~*/

#video {
	background:url(../../media/img/lights.jpeg) center center fixed;
	background-size: cover;
	color:black;
	border-top:2px solid silver;
}

#video iframe {
	margin:40px auto;
	display:block;
	border-radius:15px;
	border:4px solid black;
}

#video iframe:first-of-type {
	margin-top:100px;
}

#video .seemore h3 {
	margin-bottom:50px;
}

#video .ytplug {
	background:url(../../media/img/plugyt.png) center;
	background-size: cover;
	height:100px;
	width:100px;
	border-radius: 100%;
	margin:20px auto;
	opacity: 0.5;
}

#video .ytplug:hover {
	opacity:1;
}

#photos {
	border-top:2px solid silver;
}

/*~#PHOTOS STYLE~*/

#photos .photogrid {
	width:95%;
	margin-left: auto;
	margin-right:auto;
	display:inline-flex;
	flex-flow:row wrap;
	justify-content:center;
	align-items:center;

}

#photos .photogrid img {
	height:250px;
	width:290px;
	border-radius:15px;
	margin:20px;
}

#photos .igplug {
	background:url(../../media/img/pluginsta.png) center;
	background-size: cover;
	height:100px;
	width:100px;
	border-radius: 100%;
	margin:20px auto;
	opacity: 0.5;
}

#photos .igplug:hover {
	opacity:1;
}


/*2.1 IMAGE*/

.singleimage {
	text-align:center;
}

.singleimage img {
	margin:50px auto;
	height:auto;
	width:60%;
	display:block;
}

.singleimage h3 {
	font-family:Dosis;
	margin-bottom:30px;
}

.singleimage a {
	margin-bottom:40px;
}


/*------------------------------------------------------------------------
--------------------------------------------------------------------------
--------------------------------------------------------------------------*/

/*3. GIGS*/

.gigs {
	background:url("../../media/img/gigs1.jpg") center fixed;
	background-size:cover;
}

/*~HEADER STYLE~*/

.gigs .header {
	text-align:center;
	font-family:Roboto;
	color:white;
	position:relative;
	top:90px;
}

.gigs .header h1 {
	font-size:10.5vw;
}

.gigs .header #subhead {
	margin-bottom:150px;
	font-size:1.5em;
}

.gigs .header .book {
	margin-bottom:100px;
}

/*~CALENDAR STYLE~*/

.gigs .calendar {
	margin:100px 100px;
	display:inline-flex;
	flex-flow:row wrap;
	justify-content:space-around;
	align-items:center;
	background:rgba(255,255,255,0.3);
	border-radius: 30px
}

.gigs .calendar .box {
	width:23%;
	height:300px;
	margin:20px 20px;
	border:6px solid #ff1919;
	border-radius: 30px;
	text-align:center;
}

.gigs .calendar .box a {
	height:300px;
	flex:1;
	display:flex;
	flex-flow:column nowrap;
	justify-content: space-between;
	align-items: stretch;
	text-decoration:none!important;
}

.gigs .calendar .box .date {
	background-color:#ff1919;
	color:white;
	border-top-right-radius: 20px;
	border-top-left-radius:20px; 
	font-family:Arvo;
	transition:1s;
}

.gigs .calendar .box .date h3 {
	font-size:2vw;
}

.gigs .calendar .box a:hover .date {
	color:#ff1919;
	background-color:white;
}

.gigs .calendar .box .where {
	flex:2;
	font-family:Dosis;
	font-size:5px;
	color:black;
	background-color:white;
	transition: 1s;
}

.gigs .calendar .box .where h2 {
	font-size:2vw;
}

.gigs .calendar .box .where:hover {
	background-color:#d7e6fa;
}

.gigs .calendar .box .when {
	font-family: Arvo;
	color:black;
	background-color:#d7e6fa;
	flex:1;
	border:;
	border-radius:0px 0px 25px 25px;
	position:relative;
	bottom:10px;
}

#lift {
	position:relative;
	bottom:50px;
	text-align:auto;
	font-family:Roboto;
	text-align:center;
	color:white;
	font-size:1.5em;
}


/*3.1 EVENT*/

.event {
	height:100vh;
	background:url(../../media/img/gigs1.jpg) center;
	background-size:cover;
	display:flex;
	flex-flow:row wrap;
	align-items: center;
	justify-content: center;
}

/*~IMAGE AND GOOGLE MAPS STYLE~*/

.event .visual {
	display:flex;
	flex-flow:column wrap;
	align-items: center;
	justify-content: space-between;
	margin-left:50px;
}

.event .visual .image img {
	max-width:400px;
	border-radius:15px;

}

.event .visual .map iframe {
	margin-top:25px;
	width:400px;
	height:250px;
	border:10px solid white;
	border-radius:15px;
}

/*~CALENDAR DAY STYLE~*/

.event .details {
	display:flex;
	flex-flow:column wrap;
	justify-content: space-between;
	align-items: center
}

.event .details .note {
	display:flex;
	flex-flow: column nowrap;
	align-items: stretch;
	justify-content: space-between;
	color:black;
	max-width: 350px;
	border:6px solid #ff1919;
	border-radius:30px;
	text-align: center;
	height:15%;
	position:relative;
	bottom:35px;
}

.event .details .note .when {
	background-color:#ff1919;
	color:white;
	border-radius: 20px 20px 0 0;
}

.event .details .note .where {
	background-color:white; 
	color:black;
	flex:2;
}

.event .details .note .where h1 {
	max-width:90%;
	margin:20px auto;
}

.event .details .note .time {
	font-family: Arvo;
	color:black;
	background-color:#d7e6fa;
	border-radius: 0px 0px 25px 25px;
}

/*~SOCAL MEDIA PLUGS STYLE~*/

.event .details .plugs {
	text-align:center;
	color:white;
}

.event .details .plugs .plug {
	display:flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	margin-bottom:20px;
}

.event .details .plugs .plug div {
	height: 60px;
	width:60px;
	border-radius:100%;
	margin:10px 10px;
}

.event .details .plugs .plug #fb {
	background:url(../../media/img/facebook.png) center;
	background-size:contain;
}

.event .details .plugs .plug #twit {
	background:url(../../media/img/twitter.png) center;
	background-size:contain;
}

.event .details .plugs .plug #ig {
	background:url(../../media/img/instagram.png) center;
	background-size:contain;
}


/*------------------------------------------------------------------------
--------------------------------------------------------------------------
--------------------------------------------------------------------------*/

/*4. CONTACT*/

.reachout {
	height:100%;
}

/*~HEADER STYLE~*/

.reachout .connect {
	height:98vh;
	background:url(../../media/img/connectdiv.jpeg) center;
	background-size:cover;
	display:flex;
	flex-flow:column nowrap;
	justify-content: space-around;
	align-items: center;
}

.reachout .connect h1 {
	font-size:10vw;
	color:white;
	text-transform:uppercase;
	font-family:Roboto;
	flex:1;
	position:relative;
	top:50px;
}

.reachout .connect .links {
	display:flex;
	flex-flow:row wrap;
	justify-content: space-around;
	align-items: center;
	position: relative;
	bottom:60px;
}

.reachout .connect .links div {
	height:160px;
	width:160px;
	border-radius:100%;
	transition:0.3s;
	
}

.reachout #facebook {
	background:url(../../media/img/big-facebook.png) center;
	background-size:cover;
}

.reachout #facebook:hover {
	background: url(../../media/img/invertfb.png) center;
	background-size:cover;
}

.reachout #twitter {
	background:url(../../media/img/big-twitter.png) center;
	background-size:cover;
}

.reachout #twitter:hover {
	background:url(../../media/img/inverttwit.png) center;
	background-size:cover;
}

.reachout #google {
	background:url(../../media/img/big-google.png) center;
	background-size:cover;
}

.reachout #google:hover {
	background:url(../../media/img/invertgp.png) center;
	background-size:cover;
}

.reachout #insta {
	background:url(../../media/img/big-insta.png) center;
	background-size:cover;
}

.reachout #insta:hover {
	background:url(../../media/img/invertig.png) center;
	background-size: cover;
}

.reachout #youtube {
	background:url(../../media/img/big-youtube2.png) center;
	background-size:cover;
}

.reachout #youtube:hover {
	background:url(../../media/img/invertyt.png) center;
	background-size:cover;
}

/*~MID-SECTION STYLE~*/

.reachout .mid-section {
	background:url(../../media/img/bbwrecord.jpeg) center fixed;
	background-size:cover;
}

.reachout .mid-section .plugs {
	display:flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}

.reachout .mid-section .plugs .bookbox, .mailbox {
	display:flex;
	flex-flow:column nowrap;
	align-items: center;
	justify-content: space-around;
	border-radius:15px;
	height:400px;
	max-width:30%;
	text-align:center;
	font-family: Roboto;
	margin:50px auto;
	color:white;
}

.reachout .mid-section .plugs .bookbox h1, .mailbox h1 {
	font-size:3vw;
}

.reachout .mid-section .plugs .bookbox p, .mailbox p {
	max-width:90%;
	font-size:1.6vw;
}

.reachout .mid-section .plugs .bookbox {
	background:url(../../media/img/bookbox.jpg) center;
	background-size: cover;
	color:white;
}

.reachout .mid-section .plugs .mailbox {
	background:url(../../media/img/cwater.jpg) center;
	background-size:cover;
	color:black;
}

.reachout .mid-section .newsletter {
	display:flex;
	flex-flow:row wrap;
	align-items: center;
	justify-content: space-around;
	color:white;
}

.reachout .mid-section .newsletter .head, .subform {
	max-width:60%;
	margin:50px auto;
}

.reachout .mid-section .newsletter .head {
	text-align: right;
}

.reachout .mid-section .newsletter .subform {
	background:rgba(255,255,255,0.3);
	padding:20px;
	border-radius:15px;
	text-transform:uppercase;
	color:#545454;
}

/*~DIRECT STYLE~*/

.reachout .direct {
	display:flex;
	flex-flow:row wrap;
	justify-content: space-around;
	align-items: center;
	background:url(../../media/img/connectdiv.jpeg) center;
	background-size:cover;
	height:300px;
}

.reachout .direct div {
	height:180px;
	width:180px;
	border-radius: 100%;
	text-align:center;
	line-height:180px;
	transition:1s;
}

.reachout .direct div p {
	font-family:Arvo;
	font-size:1.5em;
	font-weight:bold;
	color:rgba(255,255,255,0.3);
	text-transform:uppercase;
	width:100%;
	display:none;
	transition:3s;
}

#phone {
	background:url(../../media/img/phoneblue.png) center;
	background-size:cover;
}

#skype {
	background:url(../../media/img/skypeblue.png) center;
	background-size:cover;
}

#skype p {
	letter-spacing: 1.5px;
	font-size:1.2em;
}

#emailcirc {
	background:url(../../media/img/atblue.png) center;
	background-size:cover;
}

#emailcirc p {
	font-size:1em;
	position: relative;
	right:20px;
}

.reachout .direct #phone:hover, #skype:hover, #emailcirc:hover {
	background:rgba(255,255,255,0.3);
}

.reachout .direct div:hover p {
	display:inline;
	color:white;
}


/*------------------------------------------------------------------------
--------------------------------------------------------------------------
--------------------------------------------------------------------------*/

/*5. BOOK*/

.book .page {
	width:100%;
	height:100%;
	background:url(../../media/img/book-background2.jpeg) center center;
	background-size:cover;
	left:0;
	top:0;
	z-index:-1;
	padding-top:100px;

}

/*~INTRO STYLE~*/

.book .book-intro {
	text-align:center;
	color:white;
	font-family:Dosis;

}

.book .book-intro #discount {
	font-size:15px;
	color:red;
	letter-spacing:4px;
}

.book .book-intro h1 {
	font-size:3.5em;
}

.book .book-intro p {
	font-size:1.5em;
}

/*~FORM STYLE~*/

.book #container {
	width:650px;
	margin: 10px auto 150px auto;
	border:1px solid black;
	border-radius:5px;
	padding:25px;
	position:relative;
	top:0px;
	font-family: Roboto;
	opacity: 0.5;
}

.book #container:hover {
	opacity:1.0;
}


.book fieldset {
	padding:15px;
}

.book .names {
	margin-bottom:10px;
}

.book .contacts {
	margin-bottom:20px;
}

.book .event1 {
	margin-bottom:20px;
}

.book .event2 {
	margin-bottom:20px;
}

.book .radio {
	color:white;
} 

.book #submit {
	margin-left:auto;
	margin-right:auto;
}

.alert {
	font-size:10px;
	color:red;
}

/*------------------------------------------------------------------------
--------------------------------------------------------------------------
--------------------------------------------------------------------------*/

/*6. CONFIRMS*/

.confirm .bookconfirm {
	background:url(../../media/img/book-background2.jpeg) center center;
	height:100vh;
}

.mailconfirm {
	background:url("../../media/img/cwater.jpg") center;
	background-size:cover;
	height:100vh;
}

.subscribeconfirm {
	background:url(../../media/img/cwater.jpg) center center;
	background-size:cover;
	height:100vh;
}

/*~HEADER STYLE*/

.confirm .header {
	margin:50px auto;
	font-family:Dosis;
	text-align:center;
	background-color:silver;
	height:150px;
	animation-name:bigconfirm;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

.confirm .header h1 {
	font-size:4em;
}

/*~BODY STYLE~*/

.confirm .body {
	width:90%;
	margin:30px auto 150px auto;
	text-align:center;
	font-family:Dosis;
	color:white;
}

.confirm .body a {
	margin-top:20px;
}

/*ANIMATION*/
@keyframes bigconfirm {
	0% {
		font-size:0em;
		opacity:0;
		background-color:white;
	}

	100% {
		opacity: 1;
	}
}

/*------------------------------------------------------------------------
--------------------------------------------------------------------------
--------------------------------------------------------------------------*/

/*7. DIRECTIVES*/

/* 7.1 NAVIGATIONBAR */
.navbar-default {
	background-color:white;
	opacity: 0.5;
	border-color: rgba(34, 34, 34, 0.05);
	font-family:Dosis;
	color:#222222;
}

.navbar-default:hover {
	opacity:0.8;
}

.navbar-default .navbar-header .navbar-brand {
	font-weight:700;
	text-transform:uppercase;
	font-size:1.8em;
}

.navbar-default .nav >li >a {
	font-weight:500;
	font-size:1.2em;
}

.navbar-default .nav >li >a:last-child {
	padding-right:20px;
}

.navbar-default .dropdown {
	cursor:pointer;
}

/* 7.2 FOOTER */	

.footer {
	text-align:center;
	color:white;
	background-color:#070b0b;
	height:100%;
	width:100%;
	border-top:5px solid black;
	border-bottom:1px solid black;
	padding-bottom:10px;
}

.footer .container {
	display:flex;
	flex-flow:row wrap;
	align-items: center;
	justify-content: center;
	height:100px;
	
}

.footer .community {
	flex:1;
	height:80px;
}

.footer .buymusic {
	flex:1;
	height:80px;
}

.footer .subscribe {
	flex:1;
	height:80px;
}

.footer .itunes {
	text-align:center;
}

.footer subscribe {
	height:20px;
}

.footer p {
	color:white;
	font-family:Dosis;
	font-size:20px;
	display:block;
}

.footer a {
	text-decoration:none;
}

.footer img {
	height:30px;
}

.footer .underline {
	text-decoration:underline;
	margin-bottom:5px;
	margin-top:10px;
}

/* 7.3 SUBSCRIBE MODAL*/

.subscribe-modal {
	color:black;
	text-align:center;
}

.subscribe-modal .modal-body {
	font-family:Dosis;
	font-size:1em;
	width:100%;
}

.subscribe-modal .modal-body label {
	margin:1em auto;
	font-size:2em;
}

.subscribe-modal .redbtn {
	width:100px;
}

/* 7.4 MAILLIST MODAL */

.mail-modal {
	color:black;
	text-align:center;
}

.mail-modal .modal-body{
	font-family:Dosis;
	font-size:24px;
	width:100%;
}

.mail-modal .modal-body label {
	margin:1em auto;
}

.mail-modal .redbtn {
	margin-top:1em;
}

/* 7.5 iTUNES SEARCH*/

.itunessearch {
	margin:50px auto;
	width:100%;
}

.itunessearch #itunes-input {
	width:350px;
	height:50px;
	border-radius:10px;
}

.itunessearch #itunes-search-button {
	width:60px;
	margin-left:10px;
}

.itunessearch table {
	width:90%;
	height:auto;
	margin:10px auto;
	text-align:center;
}

.itunessearch th {
	font-size:1.5em;
	text-align:center;
}

.itunessearch td {
	font-size:1.5em;
}

/*------------------------------------------------------------------------
--------------------------------------------------------------------------
--------------------------------------------------------------------------