/*HOME PAGE STYLE*/
/*home header*/
#home .header {
	height:705px;
	text-align:center;
	background:url(../../media/img/background-position.jpg) no-repeat ;  /*fix background--possibly fixed check on other devices*/
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
	background-position:0px -190px;
}

#home .header .container {
	position:relative;
	top:90px;
}

#home .header h1 {				/*dropdown animation*/
	font-size:9em;
	line-height:120px;
	margin-top:0;
	margin-bottom:50px;
	color:white;
	text-transform:uppercase;
	
	/*animation*/
	animation-duration: 3s;
  	animation-name: blurinbig;
  	animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes blurinbig {
  0% {
    font-size:5em;
    opacity: 0;
    color: white;

  }

  100% {
    font-size: 9em;
    color: white;
    opacity: 1;
  }
}

#home .header p {
	font-weight:11500;
	font-size:1.5em;
	letter-spacing:9px;
	margin-bottom:80px;
	margin-top:0;
	text-transform:uppercase;
	color:white;
	/*animation*/
	animation-duration: 2s;
    animation-name: blurinsmall;
    animation-fill-mode: forwards;
}

@keyframes blurinsmall {
  0% {
    opacity: 0;
    font-size:1em;
  }
  100% {
    color: white;
    opacity: 1;
  }
}

.btn-music {										/*fix button alignment*/
	background-color:black;
	color:white;
	display:block;
	margin:50px auto;
	padding:40px;
	position:relative;
	right:20px;
}

.btn-mustic:hover {
	background-color: #117bff;
	cursor:pointer;
	transition:background .5s;
}

.btn-book {
	background-color:black;
	color:white;
	display:block;
	margin:20px auto;
	width:100px;
	position:relative;
	right:25px;
}

.btn-book:hover {
	background-color: #117bff;
	cursor:pointer;
	transition:background .5s;
}

/*home main*/													/*background colors needed*/
#home .main {
	background-color:black;
	height:600px;
	text-align:center;
}

#home .main .container {
	margin:0px auto;
	position:relative;
	top:200px;
}

#home .main .container h1 {
	margin-bottom:20px;
	color:white;
	font-size:65px;
	text-transform:lowercase;
}

#home .main .container p {
	margin-bottom:40px;
	color:white;
	font-size:20px;
	text-transform:lowercase;
	letter-spacing:5px;
}

#home .main .container audio {
	width:45%;
}

/*home jumbotron*/												/*alignment needs to be sorted out*/

#home .jumbotron {
	height:300px;
	text-align:right;
	background:url(../../media/img/record.jpeg) no-repeat center center fixed ;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-position:0px 70px;
	color:#5b5b5b;
	margin-bottom:0;
}

#home .jumbotron .container {
	position:relative;
	bottom:10px;
}

#home .jumbotron p {
	font-weight:2.5em;
}

.btn-newsletter {
	position:relative;
	right:0px;
	margin-top:25px;
}

/*home footer*/				/*iTunes bagdges/amazonn badges -> ask mentor*/

#home .footer {
	font-size:14px;
	color:white;
	background-color:black;
	height:100px;
}



/*home media queries*

@media (max-width:500px) {
	.home.header h1 {
		font-size:50px;
		line-height:64px;
	}

	.home.main, .home.jumbotron {
		padding:0 30px;
	}

	.home.main img {
		width:100%;
	}
}

@media (min-width:850px) {
	.home.header h1 {
		font-size:120px;
	}
}


/*BOOK PAGE STYLE*/
.book #container {
	width:650px;
	margin: 50px auto;
	border:1px solid black;
	border-radius:5px;
	padding:25px;
	position:relative;
	top:0px;
	font-family: Roboto;
}


.book fieldset {
	padding:15px;
}

.book .names {
	margin-bottom:10px;
}

.book .contacts {
	margin-bottom:20px;
}

.book .event1 {
	margin-bottom:20px;
}

.book .event2 {
	margin-bottom:20px;
}

.book #submit {
	position: relative;
	left:220px;
	top:20px;
	width:100px;

}

.alert {
	font-size:10px;
	color:red;
}