<div class="footer">						<!--footer section-->
	<div class="container">
		<div class=" community">
			<a href="/reachout"><p>Community</p></a>
			<!--<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>-->
			<span><a href="/"><img src="media/img/facebook.png" alt="facebook link" /></a></span>
			<span><a href="/"><img src="media/img/twitter.png" alt="twitter link" /></a></span>
			<span><a href="/"><img src="media/img/youtube.png" alt="youtube link" /></a></span>
			<span><a href="/"><img src="media/img/instagram.png" alt="insta link" /></a></span>
			<span><a href="/"><img src="media/img/google-plus.png" alt="google+ link" /></a></span>
		</div>
		<div class=" buymusic">
			<a href="/music"><p>Buy Music</p></a>
			<a href="https://geo.itunes.apple.com/us/album/daydream-believer/id4512505?i=4512412&mt=1&app=music" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/images/badges/en-us/badge_music-lrg.svg) no-repeat;width:165px;height:40px;" class="itunes"></a>
			<a href="https://www.amazon.com/The-Monkees/e/B000APSYTO" style="width:165px;height:40px;overflow:hidden;display:inline-block;background:url(media/img/buy3.gif) no-repeat;" class="amazon"></a>
		</div>
		<div class="subscribe">
			<p>Subscribe To Our Newsletter</p>
			<subscribe></subscribe>
		</div>
	</div>
</div>