<div ng-controller="MailModalController">
<button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target=".mail-modal">Join Maillist</button>

<div class="mail-modal modal fade" id="mailmodal" tab-index="-1" role="dialog" aria-labelledby="mailModal">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Join Our Mailing List</h4>
			</div>
			<div class="modal-body">


				<form id="mailform" name="mailform" ng-submit="formsubmit()" novalidate>

					<fieldset class="text-center">
						<legend>About You</legend>
						<div class="row">
							<div class="col-sm-6 form-group" ng-class="{'has-error': mailform.name.$invalid && mailform.name.$touched}">
								<label for="name">Name</label>
							
								<input autofocus class="form-control" name="name" type="text" id="name" ng-model="user.name" required />

								<div class="col-sm-6 form-group alert" ng-messages="mailform.name.$error" ng-if="mailform.name.$touched && mailform.name.$invalid" role="alert">
									<div ng-message="required">Required Field</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-6 form-group" ng-class="{'has-error': mailform.email.$invalid && mailform.email.$touched}">
								<label for="email">Email</label>
							
								<input class="form-control" name="email" type="email" id="email" placeholder="joe@joebloggs.com" ng-model="user.email" required />

								<div class="col-sm-6 form-group alert" ng-messages="mailform.email.$error" ng-if="mailform.email.$touched && mailform.email.$invalid" role="alert">
									<div ng-message="required">Required Field</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-6 form-group" ng-class="{'has-error': mailform.age.$invalid && mailform.age.$touched}">
								<label for="age">Age</label>

								<input class="form-control" name="age" type="number" id="age" ng-model="user.age" required />

								<div class="col-sm-6 form-group alert" ng-messages="mailform.age.$error" ng-if="mailform.age.$touched && mailform.age.$invalid" role="alert">
									<div ng-message="required">Required Field</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-6 form-group" ng-class="{'has-error': mailform.interest.$invalid && mailform.interest.$touched}">
								<label for="interest">Interest: </label>

								<select class="form-control" id="interest" ng-model="interest">
									<option value="newmusic">Hear New Music</option>
									<option value="gigs">Find Out Where We're Playing</option>
									<option value="book">Find Out Avalibility For Gigs</option>
									<option valie="news">Stay Up-To-Date On News</option>
								</select>

								<div class="col-sm-6 form-group alert" ng-messages="mailform.interest.$error" ng-if="mailform.interest.$touched && mailform.interest.$invalid" role="alert">
									<div ng-message="required">Required Field</div>
								</div>
							</div>
						</div>

						<button ng-disabled="mailform.$invalid" ng-click="submitted=true" class="btn btn-danger redbtn" id="submit" type="submit" value="submit"> Submit</button>

					</fieldset>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
</div>