<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<!-- Brand and toggle grouped for better mobile display-->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
	
			<a class="navbar-brand page-scroll" href="#page-top">The Monkees</a>
		</div>
		<itunessearch></itunessearch>

		<div class="collapse navbar-collapse" id="navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a class="page-scroll" href="#/music">The Music</a>
				</li>
				<li>
					<a class="page-scroll" href="#/gigs">The Gigs</a>
				</li>
				<li>
					<a class="page-scroll" href="#/contact">Reach Out</a>
				</li>
			</ul>
		</div>
	</div>
</nav>