<div ng-controller="SubModalController">
<button type="button" class="btn btn-danger" data-toggle="modal" data-target=".subscribe-modal">Subscribe</button>

<div class="subscribe-modal modal fade" tab-index="-1" role="dialog" aria-labelledby="subscribeModal">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Subscribe To Our Newsletter</h4>
			</div>
			<div class="modal-body">


				<form id ="subscribeform" name="subscribeform" ng-submit="formsubmit()" novalidate>

				<fieldset>
					<div class="row">
						<div class="col-sm-6 form-group" ng-class="{'has-error': subscribeform.name.$invalid && subscribeform.name.$touched}">
							<label for="name">Name</label>
						
							<input autofocus class="form-control" name="name" type="text" id="name" ng-model="user.name" required />

							<div class="col-sm-6 form-group alert" ng-messages="subscribeform.name.$error" ng-if="subscribeform.name.$touched && subscribeform.name.$invalid" role="alert">
								<div ng-message="required">Required Field</div>
							</div> 
						</div>
					</div>

					<div class="row">
						<div class="col-sm-6 form-group" ng-class="{'has-error': subscribeform.email.$invalid && subscribeform.email.$touched}">>
							<label for="email">Email</label>
						
							<input class="form-control" name="email" type="email" placeholder="joe@joebloggs.com" id="email" ng-model="user.email" required />

							<div class="col-sm-6 form-group alert" ng-messages="subscribeform.email.$error" ng-if="subscribeform.email.$touched && subscribeform.email.$invalid" role="alert">
								<div ng-message="required">Required Field</div>
							</div> 
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6"></div>
						<div class="col-sm-6">
							<button ng-disabled="subscribeform.$invalid" ng-click="submitted=true" class="btn btn-danger redbtn" id="submit" type="submit" value="submit">Submit</button>
						</div>
					</div>
				</fieldset>
				
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
</div>