<h1>{{ videoTitle }}</h1>
<p>{{ videoSubtitle }}</p>
<iframe width="640" height="380" src="https://www.youtube.com/embed/xvqeSJlgaNk" frameborder="0"
        allowfullscreen></iframe>

<iframe width="640" height="480" src="https://www.youtube.com/embed/kpp-Ry2ZNhY" frameborder="0"
        allowfullscreen></iframe>

<iframe width="640" height="480" src="https://www.youtube.com/embed/sUzs5dlLrm0" frameborder="0"
        allowfullscreen></iframe>

<h2 class="seemore">{{ seemoreTitle }}</h2>
<h3 class="seemore">{{ seemoreSubtitle }}</h3>
<a href="https://www.youtube.com/user/themonkees" target="_blank">
    <div class="ytplug"></div>
</a>