<navigationbar></navigationbar>
	<div class="confirm">
		<div class="bookconfirm">
			<div class="header">
				{{title}}
			</div>
			<div class="body">
				<h1>You are on your way to having <span>The Monkees</span> play live at your event!</h1>
				<h3>A representative will be in contact with you shortly to confirm your booking and work out all the little details.</h3>
				<h3>Head over to our <a href="#/music">Music Page</a> to sample some of our sweet sounds...</h3>
				<a href="#/music" class="btn btn-primary btn-lg">Go To Music</a>
			</div>
		</div>
	</div>
<blackfooter></blackfooter>