<navigationbar></navigationbar>
<div class="confirm">
	<div class="mailconfirm">
		<div class="header">
			{{title}}
		</div>

		<div class="body">
			<h1>You have now joined <span>The Monkees</span> mail list!</h1>
			<h3>Keep an eye on your inbox... Personalised news is coming soon!</h3>
			<h3>Head over to our <a href="#/music">Music Page</a> to sample some of our sweet sounds...</h3>
			<a href="#/music" class="btn btn-primary btn-lg">Back To {{wherefrom}}</a>
		</div>
	</div>
</div>
<blackfooter></blackfooter>