<monkees-nav></monkees-nav>
<div class="confirm">
	<div class="subscribeconfirm">
		<div class="header">
			<h1>{{title}}<h1>
		</div>

		<div class="confirm-body">
			<h1>You are now subscribed to <span>The Monkees</span> newsletter!</h1>
			<h3>Keep an eye on your inbox... News is coming soon!</h3>
			<h3>Head over to our <a class="music-link" href="#/music">Music Page</a> to sample some of our sweet sounds...</h3>
			<a href="#/music" class="btn btn-primary btn-lg">Go To Music</a>
		</div>
	</div>
</div>
<monkees-footer></monkees-footer>