<div id="home">
<div class="header">						<!--header section-->
	<div class="container">
		<h1>The Monkees</h1>
		<p>jive with me</p>
		<a class="btn btn-default btn-lg btn-music" href="#/music">LISTEN TO MUSIC</a>
		<br/>
		<a class="btn btn-default btn-book" href="#/book">BOOK NOW</a>
	</div>
</div>

<div class="main">						<!--main section-->
	<div class="container">
		<h1>Need some reminding?</h1>
		<p>click play</p>
		<audio controls="controls">
			<source src="media/audio/ImABeliever.mp3" type="audio/mpeg; codecs=mp3"/>
		</audio>
	</div>
</div>

<div class="jumbotron">				<!--jumbotron section-->
	<div class="container">
		<h2>Stay Connected</h2>
		<p>Recieve Updates and Be In The Loop</p>
		<a href="#" class="btn btn-default btn-lg btn-newsletter">Subscribe</a>
	</div>
</div>

<div class="footer">						<!--footer section-->
	<div class="container">
		<div class="col-md-6">
			<h3>Community</h3>
			<!--<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>-->
			<span><a href="/"><img src="media/img/facebook.png" alt="facebook link" /></a></span>
			<span><a href="/"><img src="media/img/twitter.png" alt="twitter link" /></a></span>
			<span><a href="/"><img src="media/img/youtube.png" alt="youtube link" /></a></span>
			<span><a href="/"><img src="media/img/instagram.png" alt="insta link" /></a></span>
			<span><a href="/"><img src="media/img/google-plus.png" alt="google+ link" /></a></span>
		</div>
		<div class="col-md-6">
			<h3>Buy Music</h3>
			<a href="https://geo.itunes.apple.com/us/album/daydream-believer/id4512505?i=4512412&mt=1&app=music" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/images/badges/en-us/badge_music-lrg.svg) no-repeat;width:165px;height:40px;"></a>
		</div>
	</div>
</div>
</div>