<monkees-nav></monkees-nav>
<div class="home">

    <div class="header">
        <div class="container">
            <h1>{{ headerTitle }}</h1>
            <p>{{ headerSubtitle }}</p>
            <a class="btn btn-default btn-lg btn-music" href="#/music">LISTEN TO MUSIC</a>
            <a class="btn btn-default btn-book" href="#/book">BOOK NOW</a>
        </div><!--/.container div-->
    </div><!--/.header div-->

    <div class="main">
        <div class="container">
            <h1>{{ mainTitle }}</h1>
            <p>{{ mainSubtitle }}</p>
            <audio controls="controls">
                <source src="media/audio/ImABeliever.mp3" type="audio/mpeg; codecs=mp3"/>
            </audio>
        </div><!--/.container div-->
    </div><!--/.main div-->

    <div class="jumbotron">
        <div class="container">
            <h2>{{ jumboTitle }}</h2>
            <p>{{ jumboSubtitle }}</p>
            <maillist></maillist>
        </div><!--/.container div-->
    </div><!--/.jumbotron div-->
</div><!--/.home div-->
<monkees-footer></monkees-footer>