<div id="home">
<div class="header">						<!--header section-->
	<div class="container">
		<h1>The Monkees</h1>
		<p>something about being really great</p>
		<a class="btn btn-default btn-lg btn-music" href="#/music">LISTEN TO MUSIC</a>
		<br/>
		<a class="btn btn-default btn-book" href="#/book">BOOK NOW</a>
	</div>
</div>

<div class="main">						<!--main section-->
	<div class="container">
		<h1>Need some reminding?</h1>
		<p>click play</p>
		<audio controls="controls">
			<source src="media/audio/ImABeliever.mp3" type="audio/mpeg; codecs=mp3"/>
		</audio>
	</div>
</div>

<div class="jumbotron">				<!--jumbotron section-->
	<div class="container">
		<h2>Stay Connected</h2>
		<p>Recieve Updates TO BE EDITED</p>
		<a href="#" class="btn btn-default btn-lg btn-newsletter">Subscribe</a>
	</div>
</div>

<div class="footer">						<!--footer section-->
	<div class="container">
		<p>Social media plugs/ itunes and amazonn plugsBASE</p>
	</div>
</div>
</div>