<navigationbar></navigationbar>
<div class="music">

	<div class="top">
		<div class="header">
			<h1>for every vibe.</h1>
		</div>
	</div>
	
		<div class="words">
			<div class="about">
				<p>Between October 1966 and November 1967, the Monkees put out four albums. All four went to No. 1. The band had six Top 5 singles -  “Daydream Believer” has been recorded by a wide range of musicians, including Paul Westerberg of the Replacements, the Four Tops, Britpop act Robson & Jerome, dance pop singers Atomic Kitten, Canadian songstress Ann Murray and Japanese all-girl rockers Shonen Knife.</p>
			</div>

			<div class="quote">
				<span id="quote1">"</span><p>Wherever I go, people still shout out: 'Hey, hey, we're The Monkees.' And I never tire of that.</p><span id="quote2">"</span><p id="Davy">Davey Jones</p>
			</div>

			<div class="sound">
				<p>The Monkees use a strong rhythm section of double bass and drums as the anchor for a lead section of brass instruments such as trumpets and trombones. Their music creates a "visceral response" such as feet-tapping or head-nodding to get everyone swinging and dancing the night away!</p>
				<p>You'll be foxtrotting your way to the grooviest night of your life!</p>
			</div>
		</div>

	<div class="bigbar">
		<ul class="nav nav-tabs nav-justified">
			<li class="active"><a data-toggle="tab" data-target="#buymusic">Music</a></li>
			<li><a data-toggle="tab" data-target="#video">Videos</a></li>
			<li><a data-toggle="tab" data-target="#photos">Photos</a></li>
		</ul>

		<div class="tab-content">
			<div id="buymusic" class="tab-pane fade in active">
				<div class="header">
					<h1>Buy Music</h1>
					<p>Have a scroll through our sound and buy online!</p>
				</div>

				<div class="itunes-table">
					<table>
						<thead>
							<tr>
								<th>Album Artwork</th>
								<th>Track</th>
								<th>Album</th>
								<th class="preview">Preview</th>
								<th>Buy Now</th>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td class="space"></td>
								<td class="space"></td>
								<td class="space"></td>
								<td class="space"></td>
								<td class="space"></td>
							</tr>
							<tr ng-repeat="info in monkeeInfo | filter : {wrapperType : 'track'}">
								<td><img ng-src="{{info.artworkUrl100}}" alt="{{info.collectionName}}" /></td>
								<td>{{info.trackName}}</td>
								<td class="album">{{info.collectionName}}</td>
								<td><a href="{{info.previewUrl}}" target="_blank" class="btn btn-default btn-sm">Play Preview</a></td>
								<td><a href="{{info.trackViewUrl}}" target="_blank" class="btn btn-danger buybutton">Buy Now</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div id="video" class="tab-pane face">
				<h1>Videos</h1>
				<p>Look back through the years, watch us shake and move!</p>
				<iframe width="640" height="380" src="https://www.youtube.com/embed/xvqeSJlgaNk" frameborder="0" allowfullscreen></iframe>
				
				<iframe width="640" height="480" src="https://www.youtube.com/embed/kpp-Ry2ZNhY" frameborder="0" allowfullscreen></iframe>

				<iframe width="640" height="480" src="https://www.youtube.com/embed/sUzs5dlLrm0" frameborder="0" allowfullscreen></iframe>

				<h2 class="seemore">Like What You See?</h2>
				<h3 class="seemore">Find More On...</h3>
				<a href="https://www.youtube.com/user/themonkees" target="_blank"><div class="ytplug"></div></a>
			</div>

			<div id="photos" class="tab-pane fade">
				<h1>Photographs</h1>
				<p>Check out some of our favourite moments!</p>
				<div class="photogrid">
					<div class="photo col-sm-4" ng-repeat="monkee in myMonkee">
						<a ng-href="#/music/{{$index}}">
							<img ng-src="{{monkee.image}}" alt="monkee image" target="_self" />
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> 



<!-- <blackfooter></blackfooter> -->